header {
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, 0.74);
  
    a {
      display: flex;
      justify-content: center;
      gap: 20px;
      font-size: 25px;
      font-family: "Bebas Neue", sans-serif;
    }
  
    .active {
      color: #ea6d54;
    }
  }
  